# Build & deps
dist/
node_modules/

# Env & logs
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Firebase local stuff
.firebase/
firebase-debug.log*

# Editors / OS
.vscode/
.DS_Store
Thumbs.db
